*{
    color: #666666;
}
/* header */
nav{
    z-index: 2;
}
header{
    margin-top: 54px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header>section{
    width: 1200px;
    height: 400px;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
}
section>.img-container{
    width: 540px;
    height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.img-container>.inner-img-container{
    width: 540px;
    height: 406px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.inner-img-container>img{
    width: 540px;
    height: 406px;
    aspect-ratio: 16/11;
    border-radius: 5px;
}
.img-container>.arrow-container{
    display: flex;
    align-items: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
    transform: translateY(250px);
    z-index: 1;
}
.arrow-container>img{
    cursor: pointer;
    opacity: .8;
}
.left{
    opacity: 0;
    position: absolute;
    transform: translate(100%);
}
.right{
    opacity: 0;
    position: absolute;
    transform: translate(-100%);
}
.show{
    position: relative;
    transform: translateX(0);
}
.img-container>.spot-container{
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
    height: 24px;
    transform: translateY(400px);
    z-index: 1;
}
.spot-container>.spot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.spot>.inner-spot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
}

/* profile */
section>.profile-container{
    width: 600px;
    height: 400px;
    z-index: 1;
}
section>.profile-container>.profile{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile>.title{
    width: 600px;
    height: 33px;
    font-size: 24px;
    font-weight: bold;
}
.profile>.subtitle{
    margin-top: 15px;
    width: 600px;
    height: 22px;
}
.profile>.booking-form{
    margin-top: 20px;
    width: 600px;
    height: 302px;
    background: #E8E8E8;
    border-radius: 5px;
}
.profile>.booking-form>.form-container{
    box-sizing: border-box;
    padding: 15px 20px 41px 20px;
    width: 600px;
    height: 302px;
}
.form-container>form{
    box-sizing: border-box;
}
.form-container>.title{
    width: 560px;
    height: 22px;
    font-weight: 700;
}
.form-container>.subtitle{
    margin-top: 15px;
    width: 560px;
    height: 24px;
}
.form-container>form>div>label{
    font-weight: 700;
}
.form-container>form>.date{
    margin-top: 15px;
    width: 560px;
    height: 35px;
}
.date>input[type=date]{
    width: 193px;
    color: black;
    padding: 3px 8px 3px 8px;
    background-position: center right 10px;
    cursor: pointer;
}
.date>input[type=date]::-webkit-calendar-picker-indicator{
    background-image: url('/static/img/icon_calendar.png');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center right 5px;
    cursor: pointer;
}
.form-container>form>.radio{
    margin-top: 15px;
    width: 560px;
    height: 22px;
    display: flex;
}
.radio>label{
    margin-right: 12px;
}
.radio>.radio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 22px;
    margin-right: 10px;
}
.radio-container>.radio-btn{
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.radio-btn>.inner-radio-btn{
    width: 18px;
    height: 18px;
    background: #448899;
    border-radius: 50%;
    cursor: pointer;
}
.form-container>form>.price{
    margin-top: 15px;
    width: 560px;
    height: 22px;
}
.form-container>form>button{
    margin-top: 25px;
    width: 154px;
    height: 36px;
    background: #448899;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}
hr{
    max-width: 1200px;
    border: 1px solid #E8E8E8;
    margin: auto;
}

/* main */
main{
    max-width: 1180px;
    margin: 40px auto;
    min-height: calc(100vh - 54px - 480px - 104px);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
main>.desc-container{
    text-align: justify;
}
main>.address-container{
    margin-top: 20px;
    text-align: justify;
}
main>.address-container>:first-child{
    font-weight: 700;
}
main>.transport-container{
    margin-top: 20px;
    text-align: justify;
}
main>.transport-container>:first-child{
    font-weight: 700;
}

@media(max-width: 1200px){
    header>section{
        width: 95%;
    }
    section>.img-container{
        width: 100%;
    }
    .img-container>.inner-img-container{
        width: inherit;
    }
    .img-container>.inner-img-container>img{
        width: inherit;
        object-fit: cover;
    }
    .left{
        transform: translate(0);
    }
    section>.profile-container{
        margin-left: 10px;
        width: 100%;
    }
    section>.profile-container>.profile{
        width: 100%;
    }
    .profile>.title{
        width: 100%;
    }
    .profile>.subtitle{
        width: 100%;
    }
    .profile>.booking-form{
        width: 100%;
    }
    .profile>.booking-form>.form-container{
        width: 100%;
    }
    .form-container>.title{
        width: 100%;
    }
    .form-container>.subtitle{
        width: 100%;
        height: 48px;
    }
    .form-container>form>.date{
        width: 100%;
    }
    .date>input[type=date]{
        width: 50%;
    }
    .form-container>form>.radio{
        width: 100%;
    }
    .radio>label{
        margin-right: 40px;
    }
    .form-container>form>.price{
        width: 90%; 
    }
    hr{
        width: 90%;
    }
    main{
        padding: 10px 40px;
    }
}

@media(max-width: 640px){
    header{
        height: 100%;
    }
    header>section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    section>.img-container{
        width: inherit;
    }
    .img-container>.inner-img-container{
        width: inherit;
        
    }
    .img-container>.inner-img-container>img{
        width: inherit;
        border-radius: 0px;
        object-fit: cover;
    }
    .left{
        transform: translate(0);
    }
    section>.profile-container{
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    section>.profile-container>.profile{
        width: inherit;
    }
    .profile>.title{
        width: 340px;
    }
    .profile>.subtitle{
        width: 340px;
    }
    .profile>.booking-form{
        width: 340px;
    }
    .profile>.booking-form>.form-container{
        width: 340px;
    }
    .form-container>.title{
        width: 300px;
    }
    .form-container>.subtitle{
        width: 300px;
        height: 48px;
    }
    .form-container>form>.date{
        width: 300px;
    }
    .form-container>form>.radio{
        width: 300px;
    }
    .radio>label{
        margin-right: 10px;
    }
    .radio>.radio-container{
        width: 87px;
    }
    .form-container>form>.price{
        width: 300px; 
    }
    hr{
        width: 90%;
    }
    main{
        padding: 10px 20px;
    }
}