<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>
    <nav>
        <div class="navbarContainer">
            <div class="navbarTitle">台北一日遊</div>
            <div class="btnContainer">
                <div class="btn2">
                    <a href="#">預定行程</a>
                </div>
                <div class="btn1">
                    <a href="#">登入/註冊</a>
                </div>
            </div>
        </div>
    </nav>
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}
    <footer>
        <div>COPYRIGHT © 2021 台北一日遊</div>
    </footer>
</body>
</html>