{% extends 'base.html' %}

{% block header %}
<header>
    <div class="bg">
        <div class="sloganContainer">
            <div class="slogan">
                <div class="title">輕鬆享受台北一日悠閒</div>
                <div class="subtitle">探索每個角落，體驗城市的深度旅遊行程</div>
            </div>
            <div class="search">
                <form class="searchForm">
                    <input type="text" placeholder="輸入景點查詢名稱">
                    <button type="submit">
                        <img src="/static/img/icon_search.png">
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block main %}
<main></main>
<script src="/static/js/index.js"></script>
{% endblock %}