{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/attraction.css">
{% endblock %}
{% block header %}
<header>
    <section>
        <div class="img-container">
            <div class="inner-img-container"></div>
            <div class="arrow-container">
                <img src="/static/img/btn_leftArrow.png" id="left">
                <img src="/static/img/btn_rightArrow.png" id="right">
            </div>
            <div class="spot-container"></div>
        </div>
        <div class="profile-container">
            <div class="profile">
                <div class="title"></div>
                <div class="subtitle"></div>
                <div class="booking-form">
                    <div class="form-container">
                        <div class="title">訂購導覽行程</div>
                        <div class="subtitle">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <form class="form-body">
                            <div class="date">
                                <label for="date">選擇日期：</label>
                                <input type="date" id="date" required>
                            </div>
                            <div class="radio">
                                <label for="time">選擇時間：</label>
                                <div class="radio-container">
                                    <div class="radio-btn" id="am">
                                        <div class="inner-radio-btn" id="morning"></div>
                                    </div>
                                    <div>上半天</div>
                                </div>
                                <div class="radio-container">
                                    <div class="radio-btn" id="pm">
                                        <div id="afternoon"></div>
                                    </div>
                                    <div>下半天</div>
                                </div>
                            </div>
                            <div class="price">
                                <label for="price">導覽費用：</label>
                                <span>新台幣 <span class="show-price">2000</span> 元</span>
                            </div>
                            <button type="submit">開始預定行程</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<hr>
{% endblock %}
{% block main %}
<main></main>
<script src="/static/js/attraction.js" type="module"></script>
{% endblock %}