{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/booking.css">
{% endblock %}
{% block header %}
<header>
    <div>您好，<span class="user-name"></span>，待預訂的行程如下：</div>
    <div class="no-booking hide">目前沒有任何待預訂的行程</div>
    <section class="booking-info">
        <div class="img-container"></div>
        <div class="info-container">
            <div>
                <a class="title-container"></a>
                <img src="/static/img/icon_delete.png" class="delete-icon">
            </div>
            <div class="date-container flex-container"></div>
            <div class="time-container flex-container"></div>
            <div class="price-container flex-container"></div>
            <div class="address-container flex-container"></div>
        </div>
    </section>
</header>
<div class="hr"></div>
<main>
    <form>
        <div class="contact-container">
            <div class="title">您的聯絡資訊</div>
            <div class="input-container">
                <label for="name">聯絡姓名：</label>
                <input type="text" name="name" class="contact-name" required>
            </div>
            <div class="input-container">
                <label for="email">連絡信箱：</label>
                <input type="email" name="email" class="contact-email" required>
            </div>
            <div class="input-container">
                <label for="phone">手機號碼：</label>
                <input type="tel" name="phone" class="contact-phone" maxlength="10" onkeypress="return isNumberKey(event)" required>
            </div>
            <div class="notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>
        <div class="hr"></div>
        <div class="payment-container">
            <div class="title">信用卡付款資訊</div>
            <div class="input-container">
                <label for="credit-number">卡片號碼：</label>
                <div class="tpfield card-number" id="card-number"></div>
            </div>
            <div class="input-container">
                <label for="expiry-date">過期時間：</label>
                <div class="tpfield card-expiration-date" id="card-expiration-date"></div>
            </div>
            <div class="input-container">
                <label for="security-code">驗證密碼：</label>
                <div class="tpfield card-ccv" id="card-ccv"></div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="confirm-container">
            <div class="totalPrice"></div>
            <button type="submit" class="submit-button">確認訂購並付款</button>
        </div>
    </form>
</main>
<script src="/static/js/booking.js" type="module"></script>
<script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>
<script src="/static/js/order.js" type="module"></script>
<script>
    function isNumberKey(evt){
        let charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
{% endblock %}